<div class="wrapper full-width">
    <div class="auto-width">
        <section class="banner full-width">
            <figure><img src="assets/images/banner1.jpg" alt="banner" title="banner"></figure>
            <div class="container">
                <div class="row">
                    <div class="full-width banner-content">
                        <h1>Pram Bedding</h1>
                        <p>Gift-wrapped with beautiful environmentally friendly packaging</p>
                        <div class="see-more">
                            <a href="javascript:void(0)">
                                See More
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="latest-arrival full-width">
            <div class="container">
                <div class="row">
                    <div class="full-width">
                        <div class="sub-heading full-width">
                            <h2>Latest Arrivals</h2>
                            <span class="view-all">
                                View all
                            </span>
                        </div>
                        <div class="full-width">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 image-wrap">
                                    <div class="full-width">
                                        <div class="image-hover">
                                            <figure>
                                                <img src="assets/images/image1.jpg" alt="image" title="image">
                                            </figure>
                                            <a href="javascript:void(0)" class="show-now">
                                                Shop Now
                                            </a>
                                        </div>
                                        <div class="fig-caption full-width">
                                            <p>Wooden Rocking Pyramid</p>
                                            <span>Rs 200</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 image-wrap">
                                    <div class="full-width">
                                        <div class="image-hover">
                                            <figure>
                                                <img src="assets/images/image2.jpg" alt="image" title="image">
                                            </figure>
                                            <a href="javascript:void(0)" class="show-now">
                                                Shop Now
                                            </a>
                                        </div>
                                        <div class="fig-caption full-width">
                                            <p>Paper Craft</p>
                                            <span>Rs 200</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 image-wrap">
                                    <div class="full-width">
                                        <div class="image-hover">
                                            <figure>
                                                <img src="assets/images/image3.jpg" alt="image" title="image">
                                            </figure>
                                            <a href="javascript:void(0)" class="show-now">
                                                Shop Now
                                            </a>
                                        </div>
                                        <div class="fig-caption full-width">
                                            <p>Wooden Rocking Pyramid</p>
                                            <span>Rs 200</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 image-wrap">
                                    <div class="full-width">
                                        <div class="image-hover">
                                            <figure>
                                                <img src="assets/images/image4.jpg" alt="image" title="image">
                                            </figure>
                                            <a href="javascript:void(0)" class="show-now">
                                                Shop Now
                                            </a>
                                        </div>
                                        <div class="fig-caption full-width">
                                            <p>Wood Carving</p>
                                            <span>Rs 200</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- image-layes-2 start-->
        <section class="full-width latest-arrival">
            <div class="container">
                <div class="row">
                    <div class="row">
                        <div class="full-width layer-1">
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 latest-arrival-2">
                                <a href="javascript:void(0)" class="full-width image-wrapper">
                                    <figure>
                                        <img src="assets/images/image2.jpg">
                                    </figure>
                                    <div class="fig-caption1">
                                        <span>
                                            Toys
                                        </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 latest-arrival-2">
                                <a href="javascript:void(0)" class="full-width image-wrapper">
                                    <figure>
                                        <img src="assets/images/image2.jpg">
                                    </figure>
                                    <div class="fig-caption1">
                                        <span>
                                            Toys
                                        </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 latest-arrival-2">
                                <a href="javascript:void(0)" class="full-width image-wrapper">
                                    <figure>
                                        <img src="assets/images/image2.jpg">
                                    </figure>
                                    <div class="fig-caption1">
                                        <span>
                                            Toys
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="layer-2 full-width">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 latest-arrival-2 latest-arrival-3">
                                <a href="javascript:void(0)" class="full-width image-wrapper">
                                    <figure>
                                        <img src="assets/images/image3.jpg">
                                    </figure>
                                    <div class="fig-caption1">
                                        <span>
                                            Toys
                                        </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 latest-arrival-2 latest-arrival-3">
                                <a href="javascript:void(0)" class="full-width image-wrapper">
                                    <figure>
                                        <img src="assets/images/image1.jpg">
                                    </figure>
                                    <div class="fig-caption1">
                                        <span>
                                            Toys
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="full-width layer-3">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 latest-arrival-2 latest-arrival-4">
                                <div class="full-width image-wrapper-2 wrapper-3">
                                    <h3>Sharing is caring</h3>
                                    <p class="info-text">We also stock playful, eco-friendly designs by other makers and artisans.</p>
                                    <p>We are passionate about supporting other small and independent businesses, we value their craftsmanship and originality</p>
                                    <div _ngcontent-beo-c19="" class="see-more">
                                        <a _ngcontent-beo-c19="" href="javascript:void(0)"> See More </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 latest-arrival-2 latest-arrival-4">
                                <div class="full-width image-wrapper-2">
                                    <figure>
                                        <img src="assets/images/image4.jpg" alt="image" title="image">
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="full-width layer-3">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 latest-arrival-2 latest-arrival-4">
                                <div class="full-width image-wrapper-2 image-wrapper-3">
                                    <figure>
                                        <img src="assets/images/image4.jpg" alt="image" title="image">
                                    </figure>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 latest-arrival-2 latest-arrival-4">
                                <div class="full-width image-wrapper-2 wrapper-4">
                                    <a href="javascript:void(0)" class="link">
                                        Oscar - Wooden Push Along Dog Toy
                                    </a>
                                    <span class="price">Rs 200</span>
                                    <div class="color full-width">
                                        <span>Size</span>
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              S
                                              <!-- <span class="caret"></span> -->
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                              <li><a href="#">S</a></li>
                                              <li><a href="#">M</a></li>
                                              <li><a href="#">L</a></li>
                                              <li><a href="#">XL</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="color full-width">
                                        <span>Size</span>
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              Red
                                              <!-- <span class="caret"></span> -->
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                              <li><a href="#">Red</a></li>
                                              <li><a href="#">Yello</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <form>
                                        <div class="form-group">
                                            <label for="exampleInputNumer">Quantity</label>
                                            <input type="number" class="form-control" id="exampleInputNumer">
                                        </div>
                                    </form>
                                    <div _ngcontent-lil-c19="" _ngcontent-beo-c19="" class="see-more">
                                        <a _ngcontent-lil-c19="" _ngcontent-beo-c19="" href="javascript:void(0)"> See More </a>
                                        <a _ngcontent-lil-c19="" _ngcontent-beo-c19="" href="javascript:void(0)"> See More </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- image layer-2 end -->

        <!-- image layer-3 start -->
        <!-- <section class="full-width latest-arrival">
            <div class="container">
                <div class="row">
                    <div class="row">
                        <div class="full-width">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 latest-arrival-2">
                                <div class="full-width">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- image layer-3 end -->
        <section class="latest-arrival full-width">
            <div class="container">
                <div class="row">
                    <div class="full-width">
                        <div class="sub-heading full-width">
                            <h2>Latest Arrivals</h2>
                            <span class="view-all">
                                View all
                            </span>
                        </div>
                        <div class="full-width">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 image-wrap">
                                    <div class="full-width">
                                        <div class="image-hover">
                                            <figure>
                                                <img src="assets/images/image1.jpg" alt="image" title="image">
                                            </figure>
                                            <a href="javascript:void(0)" class="show-now">
                                                Shop Now
                                            </a>
                                        </div>
                                        <div class="fig-caption full-width">
                                            <p>Wooden Rocking Pyramid</p>
                                            <span>Rs 200</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 image-wrap">
                                    <div class="full-width">
                                        <div class="image-hover">
                                            <figure>
                                                <img src="assets/images/image2.jpg" alt="image" title="image">
                                            </figure>
                                            <a href="javascript:void(0)" class="show-now">
                                                Shop Now
                                            </a>
                                        </div>
                                        <div class="fig-caption full-width">
                                            <p>Paper Craft</p>
                                            <span>Rs 200</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 image-wrap">
                                    <div class="full-width">
                                        <div class="image-hover">
                                            <figure>
                                                <img src="assets/images/image3.jpg" alt="image" title="image">
                                            </figure>
                                            <a href="javascript:void(0)" class="show-now">
                                                Shop Now
                                            </a>
                                        </div>
                                        <div class="fig-caption full-width">
                                            <p>Wooden Rocking Pyramid</p>
                                            <span>Rs 200</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 image-wrap">
                                    <div class="full-width">
                                        <div class="image-hover">
                                            <figure>
                                                <img src="assets/images/image4.jpg" alt="image" title="image">
                                            </figure>
                                            <a href="javascript:void(0)" class="show-now">
                                                Shop Now
                                            </a>
                                        </div>
                                        <div class="fig-caption full-width">
                                            <p>Wood Carving</p>
                                            <span>Rs 200</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="latest-arrival full-width mew-from">
            <div class="container">
                <div class="row">
                    <div class="full-width">
                        <div class="sub-heading full-width">
                            <h2>Latest Arrivals</h2>
                            <span class="view-all">
                                View all
                            </span>
                        </div>
                        <div class="full-width">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 image-wrap">
                                    <div class="full-width">
                                        <div class="image-hover">
                                            <figure>
                                                <img src="assets/images/image1.jpg" alt="image" title="image">
                                            </figure>
                                            <a href="javascript:void(0)" class="show-now">
                                                Shop Now
                                            </a>
                                        </div>
                                        <div class="fig-caption full-width">
                                            <p>Wooden Rocking Pyramid</p>
                                            <span>Rs 200</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 image-wrap">
                                    <div class="full-width">
                                        <div class="image-hover">
                                            <figure>
                                                <img src="assets/images/image2.jpg" alt="image" title="image">
                                            </figure>
                                            <a href="javascript:void(0)" class="show-now">
                                                Shop Now
                                            </a>
                                        </div>
                                        <div class="fig-caption full-width">
                                            <p>Paper Craft</p>
                                            <span>Rs 200</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 image-wrap">
                                    <div class="full-width">
                                        <div class="image-hover">
                                            <figure>
                                                <img src="assets/images/image3.jpg" alt="image" title="image">
                                            </figure>
                                            <a href="javascript:void(0)" class="show-now">
                                                Shop Now
                                            </a>
                                        </div>
                                        <div class="fig-caption full-width">
                                            <p>Wooden Rocking Pyramid</p>
                                            <span>Rs 200</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>