<section class="header width box-shadow">
  <div class="container-fluid">
      <div class="row">
          <div class="width">
            <div class="top-header full-width">
              <div class="login">
                <ul class="full-width">
                  <li>
                    <a routerLink="javascript:void(0)">
                      LOGIN
                    </a>
                  </li>
                  <li>
                    <a routerLink="javascript:void(0)">
                      SIGNUP
                    </a>
                  </li>
                </ul>
                <form>
                  <i class="fas fa-search"></i>
                  <input type="search" class="form-control" placeholder="Search">
                </form>
              </div>
              <div class="cart">
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                    <!-- <span class="caret"></span> -->
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><a routerLink="#">Action</a></li>
                    <li><a routerLink="#">Another action</a></li>
                    <li><a routerLink="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a routerLink="#">Separated link</a></li>
                  </ul>
                </div>
                <div class="toolbar-cart">
                  <span>Rs. 0.00</span>
                  <i class="fas fa-shopping-basket"></i>
                </div>
              </div>
            </div>
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand logo" routerLink="#">
                    KHARIDO
                  </a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navigation-menu">
                      <li><a routerLink="#">Home</a></li>
                      <li class="dropdown">
                          <a routerLink="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop</a>
                          <ul class="dropdown-menu">
                            <li><a routerLink="#">Action</a></li>
                            <li><a routerLink="#">Another action</a></li>
                          </ul>
                      </li>
                      <li><a routerLink="#">Sale</a></li>
                      <li><a routerLink="/ourstory">Our Story</a></li>
                      <li><a routerLink="/blog">Blog</a></li>
                      <li><a routerLink="#">Contact</a></li>
                      <li class="dropdown">
                        <a routerLink="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Demos</a>
                        <ul class="dropdown-menu">
                          <li><a routerLink="#">Action</a></li>
                          <li><a routerLink="#">Another action</a></li>
                        </ul>
                    </li>
                  </ul>
              </div>
            </div>
      </div>
  </div>
</section>