<footer id="footer" class="full-width">
    <div class="footer-top">
        <!-- <div> -->
            <!-- <div class="back-to-top-row align-centre">
                <a class="" href="#pagewrap">
                    <span class="beside-svg" style="color: blanchedalmond;">Back to the top</span>
                    <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path>
                        <path d="M0 0h24v24H0z" fill="none"></path>
                    </svg>
                </a>
            </div> -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 footer-email">
                        <h4>Our Newsletter</h4>
                        <div class="input-group input-group-lg m">
                            <input type="text" class="form-control" placeholder="Email address" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                            <button type="submit" class="btn btn-primary"> <h5>Subscribe </h5></button>
                          </div>
                    </div>
                    <div class="col-lg-4 col-md-6 footer-info">
                        <a _ngcontent-hjf-c18="" href="#" class="navbar-brand logo"> KALA </a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing el</p>
                    </div>
                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>About Us</h4>
                        <ul>
                            <li><a href="#">ABOUT</a></li>
                            <li><a href="#">FAQS</a></li>
                            <li><a href="#">Tearm and condition</a></li>
                            <li><a href="#">Privacy and Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4 style="padding-left:13px;">Contact us</h4>
                        <strong>
                            <i class="fa fa-map-marker m1"></i>
                        DL-133 , abcd colony india
                        </strong>
                        <br>
                        <strong>
                            <i class="fa fa-envelope m1"></i>
                            Email@gmail.com
                        </strong>
                        <br>
                        <strong>
                            <i class="fa fa-phone m1"></i>
                            +91 123456789
                        </strong>
                        <div class="social-links">
                            <a href="#" class="twitter"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter"><i class="fa fa-github"></i></a>
                            <a href="#" class="twitter"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <!-- <a href="#" class="twitter"><i class="fa fa-linkedin"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
        <!-- </div> -->
    </div>
<!-- <div>
    <div class="copyright">
        &copy; Copyright<strong>Name</strong>.All Right Reserved
    </div>
</div> -->
</footer>